config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
# Config experimental features
lombok.experimental.flagUsage = warning
# Config stable features
lombok.val.flagUsage = error
lombok.var.flagUsage = error
#
# https://projectlombok.org/features/log
# lombok.log.flagUsage =
# lombok.log.slf4j.flagUsage =
lombok.log.custom.flagUsage = error
lombok.log.apacheCommons.flagUsage = error
lombok.log.flogger.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error
# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
#
# callSuper
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call